<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/students-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/panel.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">
    <title>Panel</title>
    <script src="https://kit.fontawesome.com/aa9fb73e01.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>menu2}}
    {{>student_panel}}
    <div class="panelData">
        <div class="panelData__tableC">
            <table class="panelData__table">
                {{#each student_data as |data|}}
                    <tr class="panelData__tr">
                        <th class="panelData__col panelData__th">{{data.key}}</th>
                        <td class="panelData__col panelData__td panelData__{{data.key}}">{{data.value}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <script src="/src/students.js"></script>
</body>
</html>