<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/students-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/signin.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">
    <title>Sign in</title>
    <script src="https://kit.fontawesome.com/aa9fb73e01.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="signup">
        {{>menu}}
        <section class="signup__section">
            <form class="signup__form" action="/students/login" method="POST" novalidate>
                {{>student_login}}
            </form>
        </section>
    </div>
    <script src="/src/students.js"></script>
</body>
</html>