@import 'styles';
@import 'menu2';
@import '_partial1';

body {
    background: $color5;
}

.panel {
    display: flex;
    justify-content: space-between;
    background: $color5;
    color: $color2;
    align-items: center;
    border-bottom: 0.1vh solid $color2;
}

.panel__wrapper {
    display: flex;
    padding: 3vh;
    height: 100%;
    align-items: center;
}

.panel__icon, .panel__student {
    color: $color2;
}

.panel__studentIcon {
    font-size: 1.5vw;
}

.panel__outIcon {
    font-size: 1.2vw;
}

.panel__submenu {
    position: relative;
    padding: 0.5vh;
    cursor: pointer;
}

.panel__arrowIcon {
    font-size: 2vw;
    transition: transform 0.2s ease-out;
}

.panel__submenu:hover .panel__arrowIcon {
    transform: rotateX(180deg);
}

.panel__submenu:hover .panel__ul {
    opacity: 1;
    pointer-events: all;
}

.panel__ul {
    position: absolute;
    list-style-type: none;
    background: $color2;
    padding: 2vh;
    box-shadow: 0 0 0.5vw 0 $color4;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.panel__li {
    margin: 1vh 0;
}

.panel__a {
    display: flex;
    text-decoration: none;
    color: $color5;
    align-items: center;
    padding: 2vh;
    border-left: 0.1vh solid $color5;
    transition: all 0.2s ease-out;
}

.panel__a:hover {
    color: $color2;
    background: $color5;
}

.panel__span {
    font-size: 1.2vw;
    margin-left: 2vw;
    letter-spacing: 0.1vw;
}

.panel__menuIcon {
    font-size: 2vw;
}

.panel__student {
    margin: 0 1vw;
    letter-spacing: 0.1vw;
}

.panel__student--h4 {
    text-transform: capitalize;
}

.panelData {
    width: 100%;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panelData__table {
    background: $color7;
    border-radius: 0.2vh;
    box-shadow: 0 0 0.5vw 0 $color4;
    border-spacing: 2vw 3vh;
}

.panelData__col {
    color: $color2;
    padding: 1vh;
    border-bottom: 0.1vh solid $color2;
    font-size: 1.2vw;
}

.panelData__th {
    text-align: left;
}

.panelData__td {
    text-transform: capitalize;
}

.panelData__Email {
    text-transform: none;
}