@import 'signup';
@import '_partial1';

.signup__form {
    min-width: 20vw;
}

.signup__div {
    width: 20vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.signup__data {
    width: 100%;
}

.signup__btn:hover::after {
    content: "Sign in";
}

.signup__form--message {
    width: 40%;
}

.signup__btn--message:hover::after {
    content: "Send";
}

@media (max-width: 800px) {
    .signup__form, .signup__div {
        width: 100%;
    }
}