@import '_partial1';
@import 'menu';
@import 'styles';

.confirmation {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/students-intro.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.confirmation__section {
    padding: 5vh;
}

.confirmation__h1 {
    color: $color5;
}