.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #f7f2f2;
  padding: 3vh;
}

.menu__logo {
  width: 20vw;
}

.menu__logo_a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 1vh;
}

.menu__items {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}

.menu__h2, .menu__i--logo {
  margin: 0 0.5vw;
  font-size: 2vw;
}

.menu__h2, .menu__h3 {
  letter-spacing: 0.2vw;
}

.menu__ul {
  list-style-type: none;
  display: flex;
}

.menu__li {
  margin: 0 1vw;
  font-size: 1.2vw;
  height: 100%;
}

.menu__liContainer {
  padding: 2.2vh;
  display: flex;
  color: inherit;
  text-decoration: none;
}

.menu__zone {
  background-color: #f7f2f2;
  color: #3f173f;
  border-radius: 0.5vh;
}

.menu__span {
  letter-spacing: 0.05vw;
  margin: 0 0.5vw;
}

.menu__container {
  display: none;
  margin-right: 0;
  margin-left: auto;
  align-items: center;
  cursor: pointer;
}

.menu__h3, .menu__i--logo-2 {
  margin: 0 0.5vw;
  font-size: 3vw;
  color: #b3b3b3;
}

@media (max-width: 1000px) {
  .menu {
    flex-direction: column;
    padding: 0;
  }

  .menu__logo {
    width: 100%;
    display: flex;
    background: #0e0e0e;
  }

  .menu__h2 {
    letter-spacing: 0.5vw;
  }

  .menu__h2, .menu__i--logo {
    font-size: 4vw;
  }

  .menu__container {
    display: flex;
    padding: 3vh;
  }

  .menu__items {
    width: 100%;
    justify-content: flex-start;
    padding: 0 3vh;
    background: #0e0e0e;
    opacity: 0;
    pointer-events: none;
    height: 0;
  }

  .menu__items--showed {
    opacity: 1;
    transition: all 400ms ease-out;
    pointer-events: auto;
    height: auto;
  }

  .menu__ul {
    flex-direction: column;
    width: 100%;
  }

  .menu__li {
    margin: 1vh 0;
    font-size: 3vw;
    opacity: 0;
  }

  .menu__li--showed {
    opacity: 1;
    transition: all 200ms ease-out;
  }

  .menu__li--showed-1 {
    transition-delay: 400ms;
  }

  .menu__li--showed-2 {
    transition-delay: 800ms;
  }

  .menu__li--showed-3 {
    transition-delay: 1200ms;
  }

  .menu__span {
    margin: 0 1vw;
  }

  .menu__logo_a {
    padding: 3vh;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.academyI {
  width: 100%;
  min-height: 50vh;
  background: #f7f2f2;
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.academyI__error {
  width: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.academyI__errorIcon {
  font-size: 10vw;
  color: crimson;
  margin: 5vh 0;
}

.academyI__errorName {
  font-size: 2vw;
  color: #3f173f;
}

.academyI__major {
  width: 30%;
  text-align: center;
  margin: 2vh 0;
  padding: 1vh;
}

.academyI__majorIcon {
  font-size: 3vw;
  color: #FF7F50;
}

.academyI__majorName {
  font-size: 1.5vw;
  color: #3f173f;
}

@media (max-width: 800px) {
  .academyI {
    flex-wrap: nowrap;
    align-content: unset;
    flex-direction: column;
  }

  .academyI__errorIcon {
    font-size: 15vw;
  }

  .academyI__errorName {
    font-size: 4vw;
  }

  .academyI__major {
    width: 100%;
  }

  .academyI__majorIcon {
    font-size: 6vw;
  }

  .academyI__majorName {
    font-size: 4vw;
  }
}
.join {
  padding: 10vh;
  background: #f7f2f2;
  display: flex;
  justify-content: center;
}

.join__h2 {
  font-size: 2vw;
  color: #3f173f;
}

.join__a {
  text-decoration: none;
  background: #3f173f;
  padding: 1vh;
  border-radius: 0.2vw;
  font-size: 2.5vw;
  color: #f1f1f1;
  letter-spacing: 0.2vw;
}

.join__ninja {
  font-size: 3vw;
  color: #3f173f;
  margin: 0 1vw;
}

.joinRes {
  padding: 6vh;
  background: #f7f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.joinRes__a {
  text-decoration: none;
  background: #3f173f;
  padding: 1vh;
  border-radius: 0.5vw;
  font-size: 6vw;
  color: #f1f1f1;
  letter-spacing: 0.2vw;
}

.joinRes__h2 {
  text-align: center;
  font-size: 4vw;
  margin: 3vh 0;
}

.joinRes__ninja {
  font-size: 8vw;
}

@media (max-width: 800px) {
  .join {
    display: none;
  }

  .joinRes {
    display: flex;
  }
}
.intro {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../img/students-intro.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.intro__heading {
  display: flex;
  padding: 15vh;
}

.intro__div {
  display: flex;
  flex-direction: column;
  color: #f7f2f2;
  padding: 5vh;
  background-color: rgba(24, 23, 23, 0.753);
  min-width: 30vw;
}

.intro__container {
  display: flex;
  flex-direction: column;
}

.intro__h1 {
  font-size: 4vw;
  letter-spacing: 0.3vw;
  transform: skew(-10deg, 0);
  margin-bottom: 3vh;
}

.intro__word {
  display: flex;
  align-items: center;
  border: 0.2vw solid #f7f2f2;
  padding: 2vh;
}

.intro__h4 {
  font-size: 3vw;
  letter-spacing: 0.1vw;
}

.intro__span {
  font-weight: 100;
  font-size: 5vw;
  animation: flash 1000ms infinite step-end;
}

@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .intro__div {
    width: 90%;
  }

  .intro__container {
    flex-direction: row;
  }

  .intro__heading {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }

  .intro__h1--with {
    margin: 0 2vw;
  }

  .intro__h1 {
    font-size: 6vw;
  }

  .intro__h4 {
    font-size: 5vw;
  }

  .intro__span {
    font-size: 7vw;
  }
}

/*# sourceMappingURL=index_intro.css.map */
