<footer class="join">
    <h2 class="join__h2"><a href="#" class="join__a">#JOIN</a> to one of our majors and become master of it</h2>
    <i class="fas fa-user-ninja join__ninja"></i>
</footer>
<footer class="joinRes">
    <a href="#" class="joinRes__a">#JOIN</a> 
    <h2 class="joinRes__h2">to one of our majors and become master of it</h2>
    <i class="fas fa-user-ninja joinRes__ninja"></i>
</footer>