<header class="intro__heading">
    <div class="intro__div">
        <section class="intro__container">
            <h1 class="intro__h1">TEACHING</h1>
            <h1 class="intro__h1 intro__h1--with">WITH</h1>
        </section>
        <div class="intro__word"><h4 class="intro__h4"></h4><span class="intro__span">|</span></div>
    </div>
</header>