<header class="menu">
    <div class="menu__logo">
        <a href="#" class="menu__logo_a">
            <i class="fas fa-graduation-cap menu__i--logo"></i>
            <h2 class="menu__h2">University</h2>
        </a>
        <div class="menu__container">
            <i class="fas fa-bars menu__i--logo-2"></i>
            <h3 class="menu__h3">MENU</h3>
        </div>
    </div>
    <nav class="menu__items">
        <ul class="menu__ul">
            <li class="menu__li menu__li--1">
                <a href="#" class="menu__liContainer">
                    <i class="fas fa-university menu__i--items"></i>
                    <span class="menu__span">Academy</span>
                </a>
            </li>
            <li class="menu__li menu__li--2 menu__zone">
                <a href="#" class="menu__liContainer">
                    <i class="fas fa-user-graduate menu__i--items"></i>
                    <span class="menu__span">Student zone</span>
                </a>
            </li>
            <li class="menu__li menu__li--3">
                <a href="#" class="menu__liContainer">
                    <i class="fas fa-address-book menu__i--items"></i>
                    <span class="menu__span">Contact us</span>
                </a>
            </li>
        </ul>
    </nav>
</header>