<div class="students">
    <a href="/students/signup" class="students__a students__signup">
        <i class="fas fa-user-plus students__i"></i>
        <h1 class="students__h1">#SIGN UP</h1> 
        <p class="students__p">Want to join our university? Just sign up, bring to our academy your passed final exam diploma or send a photo of it
            on email teodor.tkaczyk98@gmail.com and we are going to consider either your admission was resolved successfully or not.</p> 
    </a>
    <a href="#" class="students__a students__signin">
        <i class="fas fa-sign-in-alt students__i"></i>
        <h1 class="students__h1">#SIGN IN</h1>
        <p class="students__p">You're already a student and looking for some information about your university status? Just sign in.</p>
    </a>
</div>